@font-face {
    font-family: 'Mattone';
    src: url('../fonts/mattone-regular-webfont.woff2') format('woff2'),
         url('../fonts/mattone-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

