.main-text {
    color: black;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 50px;
    width: 75%;
    font-family: 'Mattone', Arial, sans-serif;
    display: inline-block;
}

@media(max-width: 768px) {
    .main-text {
        font-size: 30px;
        margin-left: 20px;
        width: 90%;
    }
}