.main-text {
    color: black;
    margin-top: 200px;
    margin-left: 90px;
    font-size: 80px;
    width: 85%;
    font-family: 'Varela';
    display: inline-block;
}

.line {
    width: 100px;
    height: 5px;
    background-color: black;
    display: flex;
    align-self: center;
}

@media(max-width: 768px) {
    .main-text {
        font-size: 48px;
        margin-top: 150px;
        margin-left: 20px;
        width: 90%;
    }
    .line {
        width: 50px;
        height: 4px;
        margin-left: .5rem !important;
    }
    .name {
        padding-left: 0;
    }
}