.exp {
    margin-top: 300px;
    margin-left: 150px;
    font-family: 'Varela';
    display: inline-block;
    width: 85%;
}

.title {
    color: black;
    font-size: 80px;
}

.line-sm {
    width: 75px;
    height: 5px;
    background-color: black;
    top: 30px;
}

.info {
    font-size: 40px;
}

.info-section-title {
    font-size: 40px;
}

.info-block {
    margin-left: 100px;
}

@media(max-width: 768px) {
    .exp {
        margin-left: 20px;
        width: 90%;
    }
    .title {
        font-size: 48px;
    }
    .info-block {
        font-size: 25px;
        margin-left: 20px;
    }
    .info {
        font-size: 24px;
    }
    .line-sm {
        width: 20px;
        height: 2px;
        top: 0;
        align-self: center;
    }
    .info-row {
        display: flex;
        justify-content: center;
    }
    .info-section-title {
        text-align: left !important;
    }
}
